<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guitartoolkit</key>
	<dict>
		<key>price</key>
		<integer>0</integer>
		<key>link</key>
		<string>http://itunes.apple.com/app/id723205500?mt=8</string>
		<key>uri</key>
		<string>eumgt://</string>
	</dict>
	<key>prometronome</key>
	<dict>
		<key>price</key>
		<integer>0</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/pro-metronome-beat-sound-light/id477960671?mt=8</string>
		<key>uri</key>
		<string>eumpm://</string>
	</dict>
	<key>instuner</key>
	<dict>
		<key>price</key>
		<integer>4</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/instuner-chromatic-tuner/id528923171?mt=8</string>
		<key>uri</key>
		<string>eumit://</string>
	</dict>
	<key>instunerlite</key>
	<dict>
		<key>price</key>
		<integer>0</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/instuner-lite-chromatic-tuner/id603425027?mt=8</string>
		<key>uri</key>
		<string>eumitl://</string>
	</dict>
	<key>protuner</key>
	<dict>
		<key>price</key>
		<integer>2</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/instuner-chromatic-tuner/id528923171?mt=8</string>
		<key>uri</key>
		<string>eumpt://</string>
	</dict>
	<key>stringtuner</key>
	<dict>
		<key>price</key>
		<integer>3</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/string-tuner/id501971515?mt=8</string>
		<key>uri</key>
		<string>eumpt://</string>
	</dict>
	<key>ukuleletoolkit</key>
	<dict>
		<key>price</key>
		<integer>3</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/ukulele-toolkit-tuner-metronome/id581273909?mt=8</string>
		<key>uri</key>
		<string>eumut://</string>
	</dict>
	<key>iuke</key>
	<dict>
		<key>price</key>
		<integer>0</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/iuke-ukulele-song-book/id591760977?mt=8</string>
		<key>uri</key>
		<string>eumiuke://</string>
	</dict>
	<key>eumdrhd</key>
	<dict>
		<key>price</key>
		<integer>15</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/daw-remote-hd/id501974930?mt=8</string>
		<key>uri</key>
		<string>eumdrhd://</string>
	</dict>
	<key>eumdr</key>
	<dict>
		<key>price</key>
		<integer>10</integer>
		<key>link</key>
		<string>https://itunes.apple.com/app/daw-remote/id435417441</string>
		<key>uri</key>
		<string>eumdr://</string>
	</dict>
</dict>
</plist>
